@import "tailwindcss";

:root {
    --background: #221e27;
    --foreground: #333138;
    --accent: #3f4b5f;
    --secondary: #393e4a;
    --dark: #100b10;
    --blue: #0e6e9e;
}

body {
    @apply bg-[var(--background)] text-white;
}